@page
@model kona.Pages.FetchPostsByTag
@{
    ViewData["Title"] = "Update";
}

<form method="get">
    <label>Tags</label>
    <input type="text" name="tags" placeholder="input tags here" value="@Model.tags" />
    <input type="text" name="sortingTags" hidden value="order:date" />
    <input type="text" name="fetchNow" hidden value="true" />
    <label>Page index</label>
    <input type="number" name="pageIndex" min="1" max="100000000" value="@Model.pageIndex" />
    <input type="submit" value="Fetch" />
</form>


@if (Model.fetchSuccess)
{
    <h2>@Model.GetDefaultSubmitMessage()</h2>
    <p>@Model.url</p>
    <form method="post">
        <input name="submitMessage" value="@Model.GetDefaultSubmitMessage()" placeholder="submit message" />
        <input name="submitContent" value="@Model.result" hidden />
        <input type="text" name="tags" value="@Model.tags" hidden />
        <input type="text" name="sortingTags" value="order:date" hidden />
        <input type="number" name="pageIndex" value="@Model.pageIndex" hidden />
        <input type="submit" />
    </form>
    <pre><code>@Model.resultFormatted</code></pre>
}
else
{
    <pre><code>@Model.error</code></pre>
}

<a asp-page="/Admin/UpdatePostsProgress" class="btn btn-primary">
    Show progress
</a>