@page
@model kona.Pages.FetchTagsModel
@{
    ViewData["Title"] = "Update";
}

<form method="get">
    <input type="text" asp-for="@Model.tagSearch" />
    <input type="text" asp-for="@Model.source" hidden value="form"/>
    <input type="submit" value="Fetch" />
</form>

@if (Model.fetchSuccess)
{
    <h2>Tag fetch result for '@Model.tagSearch'</h2>
    <form method="post">
        <input asp-for="@Model.submitMessage" value="" placeholder="submit message" />
        <input asp-for="@Model.submitContent" value="@Model.result" hidden />
        <input type="submit" />
    </form>
    <pre><code>@Model.resultFormatted</code></pre>
}
else
{
    <pre><code>@Model.error</code></pre>
}